body {
    font-family: Arial, sans-serif;
}

h1 {
    text-align: center;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.gallery a {
    margin: 10px;
}

.gallery img {
    width: 300px;
    height: auto;
}
